* {
  margin: 0;
  padding: 0;
}

body {
  height: 2000px;
  --azul: #004AA1;
  --vermelho: #A11C10;
  --backgroundCinza: #e6e6e6;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  z-index: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a, h1, h2, h3 {
  font-family: 'Fira Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}


@media(max-width: 800px) {
  .titulo {
    font-size: 2rem;
  }
}
@media(max-width: 500px) {
  .titulo {
    font-size: 1.5rem;
  }
}

.fragmentoAbrir {
  padding: 20px 0 20px 40px;
}

.fragmentoFechar {
  grid-column: 2;
  justify-self: end;
  padding: 20px 40px 20px 0;
}

@media(max-width: 800px) {
  .fragmentoFechar {
    grid-column: 1;
  }
}
@media(max-width: 500px) {
  .fragmentoAbrir {
    padding: 20px 0 8px 8px;
  }
}

.slowEnter {
  opacity: 0;
  transform: scale(0);
  animation: slowEnter 0.8s forwards;
}

@keyframes slowEnter {
  to {
    opacity: initial;
    transform: scale(1);
  }
}